.notification-row {
  margin-bottom: var(--space-between-notifications-blocks);

  background: none;
  outline: none;
}

.notification-group:not(.collapsed) .notification-row {
  margin-bottom: var(--space-between-notifications-blocks-in-group);
}
