.notification-background {
  background: transparent;
}

.notification-default-action {
  padding: 24px;
}

.notification-content image {
  /*  hide notification icon - but with a warning in logs */
  /* TODO : search for a better way to handle this */
  margin-left: -100px;
  opacity: 0;
}

.notification-content .summary {
  font-size: 16px;
  text-transform: uppercase;
}

.notification-content .time {
  font-size: 12px;
}
