.control-center .control-center-list {
  background: transparent;
}

.control-center .control-center-list .notification .notification-default-action,
.control-center .control-center-list .notification .notification-action {
  transition: var(--group-collapse-transition), var(--hover-transition);
}

.control-center
  .control-center-list
  .notification
  .notification-default-action:hover,
.control-center .control-center-list .notification .notification-action:hover {
  background-color: var(--elevation-2);
}
