.notification-group {
  transition: opacity 200ms ease-in-out;
  background: transparent;
}

.notification-group-header,
.notification-group-icon {
  /* Do not display title for notification group */
  opacity: 0;
}

.notification-group-collapse-button {
  background-image: url("../../icons/collapse.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
  background-color: transparent;
}

.notification-group-close-all-button {
  background-image: url("../../icons/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
  background-color: transparent;
}

.widget > .notification-group > .close-button {
  margin-top: 12px;
  margin-right: -2px;
}

.notification-group-collapse-button > image,
.notification-group-close-all-button > image {
  opacity: 0;
}

.notification-group.collapsed.not-expanded {
  opacity: 0.4;
}

.notification-group.collapsed .notification-row .notification {
  background-color: var(--elevation-1);
}

.notification-group.collapsed .notification-row:not(:last-child) {
  /* Top notification in stack */
  /* Set lower stacked notifications opacity to 0 */
}

.notification-group.collapsed
  .notification-row:not(:last-child)
  .notification-action,
.notification-group.collapsed
  .notification-row:not(:last-child)
  .notification-default-action {
  opacity: 0;
}

.notification-group.collapsed:hover
  .notification-row:not(:only-child)
  .notification {
  background-color: var(--elevation-2);
}
