.widget-title {
  margin-bottom: 24px;
}

.widget-title > label {
  font-family: var(--font-family-highlight);
  font-size: 24px;
}

.widget-title > button.control-center-clear-all {
  background-image: url("../../icons/trash.svg");
}
