.widget-title {
    margin: 0;
    padding: 0; 
}

.widget-title > label {
  /* margin-right: 8px; */
  font-size: 1.5rem;
}

.widget-title > button {
  /* margin-left: 8px; */
  border-radius: var(--border-radius);
}