[SddmGreeterTheme]
Name=Minimalistic Pixel
Description=A minimalistic pixel style theme
Author=Valentin Chantelot
Copyright=(c) 2025
License=MIT
Type=sddm-theme
Version=1.0
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=valentinchantelot@gmail.com
Theme-Id=minimalistic-pixel
Theme-API=2.0
