@import url("../themes/current/theme.css");

@import url("styles/global/reset.css");
@import url("styles/global/global.css");
@import url("styles/global/buttons.css");

@import url("styles/widgets/buttons-grid/widget-buttons-grid.css");

@import url("styles/notifications/widget-title.css");
@import url("styles/notifications/notification-group.css");
@import url("styles/notifications/notification-row.css");
@import url("styles/notifications/notification.css");

:root {
  --space-between-notifications-blocks: 12px;
  --space-between-notifications-blocks-in-group: 6px;

  --hover-transition: background 0.15s ease-in-out;
  --group-collapse-transition: opacity 400ms ease-in-out;
}
