button {
  min-width: 26px;
  min-height: 26px;

  padding: 6px;

  font-family: var(--font-family);
  font-weight: bold;
  font-size: 12px;

  border-radius: var(--border-radius);

  /* in case we have a no-label button with background image */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
  background-color: transparent;
}

button:hover {
  -gtk-icon-filter: none;
  background-color: var(--elevation-2);
  transition: var(--hover-transition);
}

button.close-button {
  background-image: -gtk-recolor(url("../../icons/close.svg"));
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 12px;
  background-color: transparent;

  margin-top: 0;
  margin-right: 0;

  min-width: 24px;
  min-height: 24px;
}

button.close-button:hover {
  background-color: var(--elevation-2);
  transition: var(--hover-transition);
}

button.close-button > image {
  opacity: 0;
}
