box,
flowbox,
flowboxchild,
overlay,
revealer,
button,
.control-center .control-center-list,
.widget,
.widget-notifications,
.widget-title,
.notification-group,
.notification-backgorund {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
}
