/* this is kind of a hardcore css reset, to avoid some default behaviourand keep things easy to maintain on my side */

* {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  min-width: 0;
  min-height: 0;
}

button {
  min-width: 20px;
  min-height: 20px;
}

.close-button {
  min-width: 24px;
  min-height: 24px;
}
