:root {
  --color-bg: rgb(19, 19, 19);
  --color-bg-alternate: rgb(30, 30, 30);

  --elevation-1: rgba(241, 241, 241, 0.04);
  --elevation-2: rgba(241, 241, 241, 0.08);
  --elevation-3: rgba(241, 241, 241, 0.12);

  --color-text: rgb(241, 241, 241);
  --color-text-secondary: rgb(186, 186, 186);
  --color-text-disabled: rgb(120, 120, 120);

  --font-family: "Terminess Nerd Font";
  --font-family-highlight: "BigBlueTerm437 Nerd Font";

  --space-between-notifications-blocks: 12px;
  --space-between-notifications-blocks-in-group: 6px;

  --cc-bg: rgba(46, 46, 46, 1);
  --noti-border-color: rgba(255, 255, 255, 0.15);
  --noti-bg: 48, 48, 48;
  --noti-bg-alpha: 0.8;
  --noti-bg-darker: rgb(38, 38, 38);
  --noti-bg-hover: rgb(56, 56, 56);
  --noti-bg-focus: rgba(68, 68, 68, 0.6);
  --noti-close-bg: rgb(78, 78, 78);
  --noti-close-bg-hover: rgb(94, 94, 94);
  --text-color: rgb(255, 255, 255);
  --text-color-disabled: rgb(150, 150, 150);
  --bg-selected: rgb(0, 128, 255);
  --notification-icon-size: 64px;
  --notification-app-icon-size: calc(var(--notification-icon-size) / 3);
  --notification-group-icon-size: 32px;
  --border: 1px solid var(--noti-border-color);
  --border-radius: 0px;
  --notification-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3),
    0 1px 3px 1px rgba(0, 0, 0, 0.7), 0 2px 6px 2px rgba(0, 0, 0, 0.3);
  --font-size-body: 15px;
  --font-size-summary: 16px;
  /* Deprecated variables (because of their typos). Keeping them around for backwards compatibility. */
  --hover-transition: background 0.15s ease-in-out;
  --group-collapse-transition: opacity 400ms ease-in-out;
  --hover-transition: var(--hover-transition);
  --group-collapse-transition: var(--group-collapse-transition);
}
