[Unit]
Description=Wallpaper Changer
After=hyprland.service

[Service]
ExecStart=/home/valentin/.config/hypr/scripts/wallpaper_changer.sh
Restart=always
RestartSec=10
Environment="DISPLAY=:0"
Environment="XDG_RUNTIME_DIR=%h/.run/user/%U"

[Install]
WantedBy=default.target