@import url("./style/theme.css");
@import url("./style/global.css");
@import url("./style/workspaces.css");
@import url("./style/medias.css");
@import url("./style/tray-expander.css");
@import url("./style/right-panel.css");

.modules-right {
  margin-right: 8px;
}

/* #cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
} */
