window#waybar {
  background-color: @color-bg;
  min-height: 0;
}

window#waybar * {
  color: @color-text;
  border: none;
  border-radius: 0px;
  min-height: 0;
  font-family: "BigBlueTerm437 Nerd Font";
  font-size: 14px;
  padding: 0;
  border: none;
  box-shadow: none;
}

.text-button {
  background: transparent;
  padding: 10px 4px;
  transition: background 0.2s;
}

.text-button:hover {
  background: @elevation-3;
}
