#custom-bluetooth,
#custom-network,
#custom-volume {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  min-width: 24px;
  min-height: 24px;
}

#custom-bluetooth {
  background-image: url("../icons/bluetooth.svg");
}

#custom-network.power {
  background-image: url("../icons/power.svg");
}

#custom-network.cellular-signal-off {
  background-image: url("../icons/cellular-signal-off.svg");
}

#custom-network.cellular-signal-0 {
  background-image: url("../icons/cellular-signal-0.svg");
}

#custom-network.cellular-signal-1 {
  background-image: url("../icons/cellular-signal-1.svg");
}

#custom-network.cellular-signal-2 {
  background-image: url("../icons/cellular-signal-2.svg");
}

#custom-network.cellular-signal-3 {
  background-image: url("../icons/cellular-signal-3.svg");
}

#custom-volume.muted {
  background-image: url("../icons/volume-x.svg");
}

#custom-volume.volume-0 {
  background-image: url("../icons/volume-0.svg");
}

#custom-volume.volume-1 {
  background-image: url("../icons/volume-1.svg");
}

#custom-volume.volume-2 {
  background-image: url("../icons/volume-2.svg");
}

#custom-volume.volume-3 {
  background-image: url("../icons/volume-3.svg");
}
