#tray {
  margin: 0 24px 0 0;
  padding: 0 24px 0 0;
}

#custom-expand-icon {
  background-image: url("../icons/tray.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  min-width: 24px;
  min-height: 24px;

  margin-right: 24px;
}
