@define-color color-bg rgb(19, 19, 19);

@define-color elevation-1 rgba(241, 241, 241, 0.12);
@define-color elevation-2 rgba(241, 241, 241, 0.16);
@define-color elevation-3 rgba(241, 241, 241, 0.20);

@define-color color-text rgb(241, 241, 241);
@define-color color-text-secondary rgb(186, 186, 186);
@define-color color-text-disabled rgb(120, 120, 120);
