@import url("dino-button.css");
@import url("theme-button.css");
@import url("dotfiles-button.css");
@import url("vpn-button.css");
@import url("lock-button.css");
@import url("turn-off-button.css");

.widget-buttons-grid,
.widget-buttons-grid > flowbox,
.widget-buttons-grid > flowbox > flowboxchild {
  margin: 0;
  padding: 0;
}

.widget-buttons-grid {
  margin-bottom: 200px;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  padding: 18px 0;
}
