.widget-buttons-grid > flowbox > flowboxchild:nth-child(2) > button  {
  background-image: url("../icons/moon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
  max-width: 26px;
  min-height: 36px;
  background-color: transparent;
}